/** code by webdevtrick (https://webdevtrick.com) **/
body {
    background-color:#D7F2F6; 
    background: url("bg1.jpg");
    background-repeat: no-repeat;

    

}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: transparent;
    padding: 10px 50px 50px 50px;
    border: 3px solid rgba(3, 199, 218, 1);
    border-radius: 30px;
    font-family:AR CENA;
    
    

    
}

.grid h1 {
    font-family: AR CENA;
    background-color: rgba(216, 114, 112, 1);
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    
}

#score {
    color: #02341E;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family:AR CENA;
    font-size: 30px;
    color: rgba(221, 110, 101, 1);
    font-weight: normal;
    

}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #F4D03F;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #F4D03F;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 12px;
    font-family: AR CENA;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #5FF1B1;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: rgba(216, 114, 112, 1);
    font-size: 25px;
}